/* css reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
body {
    font-family: "Outfit", sans-serif; /* 400 700 */
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);

    display: grid;
    place-content: center;
    min-height: 100vh;
    margin-inline: 1rem;
}
.card {
    background-color: white;
    max-width: 320px;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    text-align: center;
    box-shadow: 0px 10px 20px hsla(213, 28%, 68%, 0.31);
    padding-block-start: 1rem;
    padding-block-end: 2rem;
}
img {
    border-radius: 1rem;
    width: 90%;
}
h1 {
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding-inline: 1.5rem;
}
p {
    color: hsl(220, 15%, 55%);
    padding-inline: 1.5rem;

}
